{
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteIndentScriptAndStyle": true,

  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "semi": true,
  "singleQuote": true,
  "quoteProps": "preserve",
  "trailingComma": "none",
  "bracketSameLine": true
}
